body {
    background-color: #0a0a27;
}

/* Eigene kleine Anpassungen für das Login-Formular */
.card {
    margin-top: -90px;
}

.hyperlinks {
    margin-top: 20px;
}

.card {
    margin-top: 90px; /* Ändere den positiven Wert auf die gewünschte Höhe */
    margin-bottom: 20px; /* Füge hier den gewünschten Abstand zum nächsten Element hinzu */
}

.btn-login {
    margin-top: 20px; /* Abstand von 20px nach oben */
}

img.img-fluid {
    margin-top: 10px;
    max-height: 100px; /* Anpassen basierend auf der Größe deines Logos */
}
/* Responsive Verbesserungen können hier hinzugefügt werden */
@media (max-width: 768px) {
    .col-6 {
        width: 100%;
        padding: 0 20px;
    }
}



.Navbarbottom {
    background-color: #0a0a27;
    position: fixed;
    border-radius: 15px;
    min-height: 50px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    z-index: 999; /* Hier wurde z-index hinzugefügt */
}

.icons {
    display: flex;
    justify-content: flex-end; /* Hier wurde justify-content auf flex-end geändert */
    align-items: center;
}

    .icons .nav-link {
        margin: 0 25px; /* Abstand zwischen den Icons */
        font-size: 26px; /* Größe der Icons */
    }

.main-content {
    position: relative; /* Stelle sicher, dass Position relativ ist */
    z-index: 1; /* Gib dem Hauptinhalt eine höhere Z-Index als der Navbarbottom */
}

/* Anpassungen für das Dashboard */
.main-content {
    padding-top: 50px; /* Berücksichtige die Höhe der Navbar */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999; /* Stellt sicher, dass die Navbar über anderen Inhalten bleibt */
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .navbar-nav .nav-item {
        flex: 1;
        text-align: center;
    }

    .navbar-nav .nav-link {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.bg-custom-gray {
    background-color: #0a0a27; /* Graue Farbe deiner Wahl */
}

.navbar-nav .nav-link i {
    font-size: 24px;
    margin-bottom: 10px;
}

.navbar-brand {
    display: none;
}

@media (max-width: 992px) {
    .Navbarbottom {
        bottom: 0;
        top: auto; /* Verschiebt .Navbarbottom nach unten auf kleinen Bildschirmen */
    }
}

#active-link {
    color: #0084ff;
}


.filterungliste {
    margin-top: 10px;
}

.row {
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 0;
}


.scrollable {
    overflow-y: auto;
    max-height: 300px; /* Maximalhöhe für das Scrollen */
}

.scrollable2 {
    overflow-y: auto;
    max-height: 350px; /* Maximalhöhe für das Scrollen */
}

.card-title2 {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.chat-window {
    height: 300px; /* Höhe des Chatfensters anpassen */
    overflow-y: scroll; /* Scrollleiste anzeigen, wenn der Chatinhalt die Höhe überschreitet */
}
/* Stil für die Sprechblasen */
.bubble {
    max-width: 80%; /* Maximale Breite der Sprechblasen */
    margin-bottom: 10px; /* Abstand zwischen den Sprechblasen */
    padding: 10px; /* Innenabstand der Sprechblasen */
    border-radius: 10px; /* Abrundung der Ecken der Sprechblasen */
}

.bubble-sender {
    background-color: #DCF8C6; /* Hintergrundfarbe für Nachrichten des Senders */
    align-self: flex-end; /* Sprechblasen des Senders rechts ausrichten */
}

.bubble-recipient {
    background-color: #F5F5F5; /* Hintergrundfarbe für Nachrichten des Empfängers */
    align-self: flex-start; /* Sprechblasen des Empfängers links ausrichten */
}

.hidden {
    display: none;
}

.mmses {
    margin-top: 10px;
}


.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Hintergrundfarbe auf weiß mit Transparenz gesetzt */
    z-index: 9999; /* Über alles legen */
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* CSS für den Button */
.custom-btn {
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid #000000;
    padding: 5px 10px;
    cursor: pointer;
}
