@page "/"
@using MauiBlazor.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@using ApiClient.Models
@using ApiClient
@inject ApiClientService ApiService
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager Navigation
@inject Services.AppData AppDataService

<div class="row justify-content-center my-4">
    <div class="col-auto">
        <img src="Images/logo.png" alt="Firmenlogo" class="img-fluid" />
    </div>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center" >
        <div class="card">
            <div class="card-body">
                <EditForm Model="@homeModel" OnValidSubmit="@HandleLogin">
                    <DataAnnotationsValidator />
                    <h1 class="card-title text-center"> Willkommen </h1>
                    <h3 class="card-title text-center"> Login </h3>
                    <div class="form-group">
                        <label for="username"> Benutzername </label>
                        <input type="text" @bind-value="homeModel.UserId" class="form-control" placeholder="MatrikelNr/MitarbeiterNr eingeben">
                    </div>
                    <div class="form-group">
                        <label for="password">Passwort</label>
                        <input type="password" @bind-value="homeModel.Password" class="form-control">
                    </div>                   
                    <br /> @* Line break. *@
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-login"> Einloggen </button>
                    </div>

                    <div class="hyperlinks">
                        <div class="text-center">
                            <NavLink class="nav-link" href="passwordReset">
                                <span> Passwort vergessen? </span>
                            </NavLink>
                        </div>
                        <div class="text-center mt-2">
                            Noch kein Konto? 
                            <NavLink class="nav-link" href="register"> 
                                <span> Hier registrieren </span>
                            </NavLink>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>   
</div>

@code {
    HomeModel homeModel = new();

    private async void HandleLogin()
    {
        var response = await ApiService.LoginUserAsync(homeModel.UserId, homeModel.Password!);
        if (response.Flag)
        {
            // Save the token, decrypt and get user claims and save to secured storage.
            var getUserSession = GetUserClaims(response.Token);
            if (getUserSession == null) return;

            var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(getUserSession);
            //await Application.Current.MainPage.DisplayAlert("Info", response.Token, "Ok");
            AppDataService.Session = getUserSession;
            Navigation.NavigateTo("/feed", forceLoad: true, replace: true);
            homeModel = new HomeModel();
        }
        else
        {
            await Application.Current.MainPage.DisplayAlert("Info", response.Message, "Ok");
            return;
        }
    }

    private UserSession GetUserClaims(string token)
    {
        var handler = new JwtSecurityTokenHandler();
        var readToken = handler.ReadJwtToken(token);
        var claims = readToken.Claims;

        return new UserSession()
            {
                UserId = claims.First(_ => _.Type == ClaimTypes.NameIdentifier).Value,
                UserRole = claims.First(_ => _.Type == ClaimTypes.Role).Value,
                Token = token
            };
    }
}
